header {
  display: flex;
  justify-content: center;
}

#adminControl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#adminControl ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#adminControl li {
  list-style: none;
  display: flex;
  margin: 1rem;
}

