body{
  background-color: #fffafa;
  margin: 0;
  display: flex;
}

header {
  font-family: monospace;
  font-size: 20px;
  width: 100%;
  z-index: 100;
  margin-top: 25px;
  text-align: center;
}

#adminControl {
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #f4f4f4;
  z-index: 101;
}

#adminControl ul {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-left: 0;
}

#adminControl li {
  list-style: none;
  margin: 1rem;
}

#adminControl li.navButton {
  list-style: none;
  padding: 10px 20px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
}

#adminControl li.navButton:hover {
  background-color: #bcb6ad;
}

#Table {
  margin: 25px auto ;
  width: 50%;
  border-collapse: collapse;
  border: 1px solid black;
}

#Table th, #ordersTable td {
  border: 1px solid black;
  padding: 8px;
}

#Table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0f66b5;
  color: white;
  border: 1px solid black;
}

#Table td {
  border: 1px solid black;
}
