#map{
  border-radius: 10px;
  border: none;
}

.contact-container {
  text-align: center;
}

.contact-container h1, h2, p, a {
  color: black;
}

.contact-section {
  display: inline-flex;
  flex-direction:column;
  flex-basis: 100%;
  min-height: 50vh;
  margin: 20px;
  padding: 20px;
  border: 2px solid #fff9ff;
  border-radius: 5px;
  background-color: #89b4db;
}
.contact-section:hover {
  border-color: #0f66b5;
}
.contact-link {
  display: block;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.contact-link:hover{
  color: white;

}
.hidden {
  display: none;
}
