#map{
  border-radius: 10px;
  border: none;
}

.contact-container {
  text-align: center;
}

.contact-container h1, p, a {
  color: white;
}

.contact-section {
  display: inline-flex;
  flex-direction:column;
  flex-basis: 100%;
  min-height: 50vh;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(14, 84, 154, 0.5);
}
.contact-section:hover {
  border-color: #7c5ac2;
}
.contact-link {
  display: block;
  margin-top: 10px;
  color: rgb(50, 147, 226);
  text-decoration: none;
  font-weight: bold;
}

.contact-link:hover{
  color: white;

}
.hidden {
  display: none;
}
