.shopping-cart {
  margin: 0 auto;
}

h1 {
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 20px;
}

.quantityButton {
  transform: scale(0.8);
  background: none;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

th, td {
  text-align: center;
  padding: 15px;
}

th {
  background-color: #89b4db;
  color: white;
  font-weight: bold;
  text-align: center;
}

tr {
  background-color: white;
}

td {
  text-align: center;
}

tr.total-row td {
  font-weight: bold;
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="password"]{
  padding: 12px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form input[type="text"]:focus,
.form input[type="tel"]:focus {
  outline: none;
  border-color: #143cdc;
}


#orderForm {
  background-color: #89b4db;
  width: 100%;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5rem;
}

.middle-container {
  display: flex;
  flex: 1;
}

.side-section {
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  align-items: center;
}

#invalidCodeModal {
  display: none;
  justify-content: space-evenly;
  background-color: palevioletred;
  position: absolute;
  top: 50dvh;
  left: 50dvw;
  transform: translate(-50%, -50%);
  border: #0f66b5 2px solid;
  border-radius: 10px;
  box-shadow: black 0 0 50px 5px;
}

#orderSentModal {
  display: none;
  background-color: palegreen;
  justify-content: space-evenly;
  position: absolute;
  top: 50dvh;
  left: 50dvw;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: #0f66b5 2px solid;
  box-shadow: black 0 0 50px 5px;
}

.modal-content {
  position: relative;
  padding: 1rem;
}

.close {
  font-size: x-large;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px 0 0;
  cursor: pointer;
}

.close:hover {
  color: lightslategray;
}

@media (max-width: 768px) {
  .shopping-cart .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .shopping-cart .row div {
    flex: 1;
  }

  .middle-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
    margin: 0;
    padding: 0;
  }

  .side-section {
    margin: 1%;
    padding: 0;
    width: auto;

  }

  .container {
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

 /* .shopping-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: auto;
    flex-wrap: wrap;
    transform: scale(1);
  }*/

  .shopping-cart {
    margin: 2%;
    font-family: 'Sacramento', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shopping-cart table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .shopping-cart td {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 1px solid #eee;
  }

  .shopping-cart th {
    flex: 1 0 10%;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shopping-cart th input {
    width: 100%;
  }

  .shopping-cart table tr {
    display: flex;
    font-size: medium;
  }


  .shopping-cart th button {
    padding: 5%;
    font-size: small;
  }

  #orderForm {
    background-color: #89b4db;
    width: 100%;
    padding: 12vw;
    border-radius: 10px;
  }
}
