body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: montserrat, Arial, sans-serif;
  overflow: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


.nav-wrapper {
  font-family: 'Sacramento', cursive;
  display: flex;
  height: 120px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  align-items: center;
  border-bottom: 3px solid #0f66b5;
  background-color: #212121;
  z-index: 100;
}

#logo {
  height: 10rem;
}

.logo {
  align-self: center;
  justify-content: flex-start;
  margin: 2rem 2rem 0;
  transition: 0.7s;
  height: 10rem;
  padding-bottom: 20px;
}

.logo:hover {
  transform: scale(1.2);
}

.nav-links {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navLink {
  display: inline;
  margin-right: 10px;
}

.navLink a {
  color: white;
  padding: 10px 20px;
  font-size: 20px;
}

.navLink a:hover{
  text-shadow: 0 0 15px #ffffff;
}

.button {
  font-family: 'Sacramento', cursive;
  border: none;
  color: white;
  background: none;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 15px;
}

.button:hover{
  text-shadow: 0 0 15px #ffffff;
}

.button span {
  cursor: pointer;
  display: inline-block;
}


.navLink a span {
  cursor: pointer;
  display: inline-block;
}

.navLink a span:hover{
  text-shadow: 0 0 15px #ffffff;
}

.footer {
  background-color: #212121;
  color: white;
  position: fixed;
  bottom: 0;
  border-top: 3px solid #0f66b5;
  left: 0;
  right: 0;
  height: 40px;
  text-align: center;
  padding-top: 20px;
}

.info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.middle-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: calc(100vh - 200px);
  padding-top: 10%;
  padding-bottom: 5%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}


.side-section {
  width: 30%;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.middle-section {
  width: 30%;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-section p, .middle-section p {
  font-size: 14px;
  line-height: 2;
  color: black;
  text-align: center;
}

.card {
  color: white;
  background-color: rgba(15, 102, 181, 0.49);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
  width: calc(25% - 40px);
  margin: 10px;
  text-align: center;
  transition: 0.8s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

.card img {
  padding: 10px;
  max-width: 100%;
  height: auto;
}

.price {
  color: white;
  font-size: 22px;
}

